<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpcraft.bookhub">

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"
            android:theme="@style/TransparentStatusBarTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activity.LoginActivity"
            android:theme="@style/TransparentStatusBarTheme">

        </activity>
        <activity android:name=".Activity.SignupActivity"
            android:theme="@style/TransparentStatusBarTheme"
            >
        </activity>
        <activity android:name=".Activity.UserInfoActivity"
            android:theme="@style/TransparentStatusBarTheme" />
        <activity android:name=".Activity.BookDetailsActivity"/>
        <activity android:name=".Activity.PictureActivity"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".PhotoUtil.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".Activity.SearchActivity"/>
        <activity android:name=".Activity.UploadActivity"/>
        <activity android:name=".ScanModule.CaptureActivity"/>
        <activity android:name=".Activity.SearchResultActivity"/>
        <activity android:name=".Activity.MyUploadActivity"/>
        <activity android:name=".Activity.MyIntentionActivity"/>
        <activity android:name=".Activity.AboutActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dpcraft.bookhub.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


</manifest>